{% block cis_self_assessment111 %}
{% raw -%}
# RKE2 CIS 1.11 Self-Assessment Guide

## Overview

This document is a companion to the RKE2 security hardening guide. The hardening guide provides prescriptive guidance for hardening a production installation of RKE2, and this benchmark guide is meant to help you evaluate the level of security of the hardened cluster against each control in the CIS Kubernetes benchmark. It is to be used by RKE2 operators, security teams, auditors, and decision makers.

This guide is specific to the **v1.29-1.34** release line of RKE2 and the **v1.11** release of the CIS Kubernetes Benchmark.

For more information about each control, including detailed rationales and descriptions checks, you can refer to the corresponding section of the CIS Kubernetes Benchmark v1.8. You can download the benchmark, after creating a free account, in [Center for Internet Security (CIS)](https://www.cisecurity.org/benchmark/kubernetes)

## Testing controls methodology

Each control in the CIS Kubernetes Benchmark was evaluated against a RKE2 cluster that was configured according to the accompanying hardening guide.

These are the possible results for each control:

- PASS - The control is automated (scored: true). The RKE2 cluster under test passed the audit outlined in the benchmark.
- FAIL - The control is automated (scored: false). The RKE2 cluster under test failed the audit outlined in the benchmark.
- NOT APPLICABLE - The control is not applicable (type: skip) to RKE2 because of how it is designed to operate. The rationale section will explain why this is so.
- WARN - The control is manual (scored: false) in the CIS benchmark and depends on the manual operator intervention. The remediation section will provide guidance on how to achieve a PASS   result.

## Node Information

**Name:**
{%- endraw %}
 {{ inventory_hostname }}
{% raw -%}
**Date:**
{%- endraw %}
 {{ (audit_timestamp|to_datetime('%Y-%m-%d-%H%M%S')).strftime('%Y-%m-%d %H:%M:%S%p') }}
{% endblock %}
{%- if group == 'servers' %}
{% block cp_security_audit %}
{% endblock %}
{%- endif %}
{%- if etcd_node %}
{% block etcd_security_audit %}
{% endblock %}
{%- endif %}
{%- if group == 'servers' %}
{% block cp_config_audit %}
{% endblock %}
{%- endif %}
{%- if group == 'agents' %}
{% block worker_security_audit %}
{% endblock %}
{%- endif %}
